.hint {
    font-weight: bold;
    color: Black;
    border: 2px solid Black;
}

.give-hint {}

.hcard {
    font-weight: bold;
    color: Black;
    border: 1px solid Black;
    padding: 5px;
    width: 7em;
}

.pcard {
    font-weight: bold;
    color: Black;
    border: 1px solid Black;
    padding: 5px;
    width: 10em;
}

.cardwell {}

.cardbacking {
    float: left;
    border-radius: 10%;
    padding: 4px;
    margin: 2px;
}

.rainbow {
    background-image: linear-gradient(to bottom right, Red, White, DodgerBlue, Yellow);
}

.white{
    background-color:White;
}

.blue {
    background-color: DodgerBlue;
}

.red {
    background-color: Red;
}

.green {
    background-color: MediumSeaGreen;
}

.yellow {
    background-color: Yellow;
}

.unknown {
    background-color: Gray;
}

.known {
    background-color: LightGray;
}

.current-player {
    background-color: Green;
    color: White;
}